body {
    margin: 0;
    padding: 0;
    background-color: #001b36;
    color: white;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #414141;
}

.logo-and-title {
    display: flex;
    font-family: 'Vollkorn', serif;

}

.logo-and-title img {
    width: 150px;
    object-fit: contain;
    margin-right: 15px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-family: 'Dangrek', cursive;
    color: lightskyblue;
    font-size: larger;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.display-post {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post {
    width: 800px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post a {
    font-family: 'Dangrek', cursive;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;

}

.post:hover {
    box-shadow: inset 0 -5px 0 lightskyblue;

}

.post-title-date {
    display: flex;
    justify-content: space-between;

}

.newsletter {
    width: 100%;
    height: 250px;
    background-color: #002a50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Dangrek', cursive;
}

#newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter-form-email {
    width: 400px;
    height: 40px;
    font-size: 25px;
    font-family: 'Dangrek', cursive;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#newsletter-form-submit {
    font-family: 'Dangrek', cursive;

    height: 40px;
    width: 100px;
    background-color: lightskyblue;
    border: none;
    font-size: 20px;
}

.oneArticle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#oneArticle-article {
    background-color: #002a50;
    border-radius: 15px;
    padding: 15px;
}

#oneArticle-article-title-date {
    display: flex;
    justify-content: space-between;
}

#oneArticle-article-author {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#oneArticle-comment-form {
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid lightskyblue;
    border-radius: 20px;
}

.oneArticle-comment-form-label-input {
    width: 400px;
    font-family: 'Vollkorn', serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.oneArticle-comment-form-label-input input {
    border: 0;
    font-family: 'Vollkorn', serif;
    height: 30px;
    font-size: 20px;
}

.oneArticle-comment-form-label-input textarea {
    border: 0;
    height: 100px;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

#oneArticle-comment-form button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}

#oneArticle-comment-form button:hover {
    box-shadow: inset 0 -5px 0 lightskyblue;
}

#oneArticle-article-form-comment {
    width: 50%;
}

#oneArticle-list-comments {
    width: 30%;
}

.oneArticle-comment {
    display: flex;
    flex-direction: column;
    border: 2px solid lightskyblue;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

.oneArticle-comment-author-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 100px;
    border-top: 10px solid #414141;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: lightskyblue;
}

.footer-social {
    color: lightskyblue;
    font-size: larger;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.form-login-connection {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 20px;
    margin: 200px auto;
}

.form-login-connection form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-login-connection-label {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-login-connection-label input {
    border: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
}

.form-login-connection-label label {
    padding-left: 10px;
}

.form-login-connection button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}

.form-login-connection button:hover {
    box-shadow: inset 0 -5px 0 lightskyblue;
}


/* ADMIN */

html {
    height: 100%;
}

body {
    height: 100%;
}

.base-admin {
    display: flex;
    height: 100%;
}

.admin-nav {
    width: 20%;
    height: 100%;
    padding-left: 10px;
    border-right: 10px solid #414141;
}

.admin-nav ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin-nav ul li a {
    color: white;
    text-decoration: none;
}

.admin-nav-icon {
    padding-right: 10px;
}

.admin-content {
    width: 80%;
    height: 100%;
    display: flex;
}


.admin-display-article a {
    color: #002a50;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 15px;
}

.admin-display-article a:hover {
    box-shadow: inset 0 -5px 0 white;
}

.admin-display-list-articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid lightskyblue;
    height: 100px;
}

.admin-display-article-content-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-display-article-content td {
    text-align: center;
}



