{% extends "baseAdmin.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block content %}
    <div class="admin-display-list-articles">
        <table class="admin-display-article">
            <tr>
                <th>Email</th>
                <th>Nom/Prénom</th>
                <th class="display-desktop">>Contenu</th>
                <th>Date</th>
            </tr>
            {% for message in contactMessage %}
                <tr class="admin-display-article-content">
                    <td>{{ message.emailUserContactForm }}</td>
                    <td>{{ message.nameUserContactForm }}</td>
                    <td class="display-desktop">>{{ message.contentUserContactForm }}</td>
                    <td>{{ message.dateUserContactForm | date("d/m/Y")}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
