{% extends "base.html.twig" %}

{% block title %} Page d'accueil {% endblock %}


{% block scripts %}
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}



{% block content %}
    <div style="height: 500px; margin-top: 150px;margin-bottom: 150px; display:flex; justify-content: center; align-items: center; flex-direction: column">
        <h1>Vous vous êtes perdu ?</h1>
        <div class="button-404"><a href="/ClementGrenierDesrousseaux_P5_06052022">Retourner à l'accueil</a></div>
    </div>
{% endblock %}
