<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} INSERER LE TITRE {% endblock %}</title>

    {% block stylesheets %} {% endblock %}

    {% block scripts %} {% endblock %}
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>
</head>
<body>
   {# <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center mt-3">
                <img src="../../public/asset/img/logo_transparent.png" alt="" class="w-25">
            </div>
        </div>
    </div>#}

{% block body %} {% endblock %}
</body>
</html>