<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} INSERER LE TITRE {% endblock %}</title>

    {% block stylesheets %} {% endblock %}

    {% block scripts %} {% endblock %}
    <link rel="stylesheet" href="/ClementGrenierDesrousseaux_P5_06052022/public/css/style.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>

<header>
    <div class="header-content">
        <div class="logo-and-title">
            <img src="/ClementGrenierDesrousseaux_P5_06052022/public/asset/img/openclassroom-p5-logo.png" alt="">
            <div>
                <h4>Clément Grenier--Desrousseaux</h4>
                <p>Développeur, aussi Agile qu'un funambule</p>
            </div>
        </div>

        <nav>
            <a href="/ClementGrenierDesrousseaux_P5_06052022/"><h2>Accueil</h2></a>
            <a href="/ClementGrenierDesrousseaux_P5_06052022/articles"><h2>Nos articles</h2></a>
            <a href="/ClementGrenierDesrousseaux_P5_06052022/contact"><h2>Nous contacter</h2></a>
        </nav>
    </div>
</header>

<div class="body-content">{% block content %} {% endblock %}</div>

<footer>
    <div class="footer-content">
        <div class="footer-cv">
            <a href="public/asset/pdf/cv.pdf">CV</a>
        </div>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/clément-grenier-desrousseaux"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/ClementGrenierDesrousseaux"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="footer-access-admin">
            <a href="admin">Back Office</a>
        </div>
    </div>
</footer>

</body>
</html>
