<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} INSERER LE TITRE {% endblock %}</title>

    {% block stylesheets %} {% endblock %}

    {% block scripts %} {% endblock %}
    <link rel="stylesheet" href="/ClementGrenierDesrousseaux_P5_06052022/public/css/style.css">
    <script src="/ClementGrenierDesrousseaux_P5_06052022/public/js/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet'
          type='text/css'/>
    <script type='text/javascript'
            src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>


</head>


<body class="admin-body">
<div class="base-admin">
    <div id="admin-nav-button-responsive" class="display-responsive">Interface Admin</div>
    <div class="admin-nav" id="admin-nav">
        <h2 style="text-align: center; margin-bottom: 50px;" class="display-desktop">Interface d'administration</h2>
        <ul class="">
            <li class=""><a href="/ClementGrenierDesrousseaux_P5_06052022/admin"
                            class=""><i
                            class="fa-solid fa-house mx-2 admin-nav-icon"></i>
                    <div class="display-desktop">Accueil</div>
                </a></li>
            <li class=""><a
                        href="/ClementGrenierDesrousseaux_P5_06052022/admin/articles"
                        class=""><i class="fa-solid fa-newspaper mx-2 admin-nav-icon"></i>
                    <div class="display-desktop">Articles</div>
                </a></li>

            <li class=""><a href="/ClementGrenierDesrousseaux_P5_06052022/admin/commentaires"
                            class=""><i
                            class="fa-solid fa-comments mx-2 admin-nav-icon"></i>
                    <div class="display-desktop">Commentaires</div>
                </a></li>
            <li class=""><a
                        href="/ClementGrenierDesrousseaux_P5_06052022/admin/message"><i
                            class="fa-solid fa-address-book admin-nav-icon"></i></i>
                    <div class="display-desktop">Messages</div>
                </a></li>
            <li class=""><a
                        href="/ClementGrenierDesrousseaux_P5_06052022/admin/disconnect"><i
                            class="fa-solid fa-right-to-bracket admin-nav-icon"></i>
                    <div class="display-desktop">Se déconnecter</div>
                </a></li>
        </ul>
    </div>
    <div class="admin-content">
        {% block content %} {% endblock %}
    </div>
</div>


<script>
    var editor = new FroalaEditor('#example');
</script>

</body>
</html>
